<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<connectionStrings>
    <add name="TrackingSystemConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=TrackingSystem;Integrated Security=True;" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="TrackingSystemConnection" connectionString="Server=1ee33bfd-5d43-4ede-a74d-a5650059afb9.sqlserver.sequelizer.com;Database=db1ee33bfd5d434edea74da5650059afb9;User ID=gzmqeeyyofmjdbus;Password=rpQjT4N6p5624uzuhPzL5JUAitbH5D4Lfk6gzTturGynmfdnUhpBJjVPCpbz3eaS;" providerName="System.Data.SqlClient" />
    providerName="System.Data.SqlClient" />
    --><!--<add name="TrackingSystemConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=TrackingSystem;Integrated Security=True;" />--><!--
  </connectionStrings>-->
</configuration>